@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

<p>
    My Name's Owen Crawford and I'm a student at Algonquin College. I'm Currently enrolled in my 5th semester of the computer engineering program. I have no feedback.
</p>
}
